# Python
*.pyc
__pycache__/

# Virtual environment
venv/
env/

# Django
*.sqlite3
/staticfiles/
/media/

# IDEs
.vscode/
.idea/
*.iml

# Byte-compiled / optimized / DLL files
*.pyd
*.so
*.egg
*.egg-info/
dist/
build/

# Pytest cache
.pytest_cache/

# mypy
.mypy_cache/
.dmypy.json

# Coverage reports
.coverage
htmlcov/
